# Basics
.DS_Store
*.log
.vscode/
.idea/
*.iml

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*

# Java / Backend
target/
*.class
.mvn/
mvnw
mvnw.cmd
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Secrets (Important!)
google-credentials.json.json
firebase-service-account.json
application-local.properties
application-secret.properties
